<!DOCTYPE html>
{% extends "dispatcher/base.html" %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <body>
  {% block content %}
  <style>


  .special {
     line-height: 10px;/*Высота строки +  верт. центрирования текста*/
     font-size: 16px;
     background: rgb(243, 243, 243);
     color: rgb(14, 5, 5);
     margin-left: 30px;
     margin-top: 25px;
     width: 320px; /*Фиксируем ширину блока*/
     margin-right: 10px;
     text-align: center; /*Центрируем текст по горизонтали*/
     border-radius: 3px;
     border-color: rgb(14, 5, 5);
     border-width: 1px;
     resize: none;
  }
  </style>


      <h5> Заявка</h5>
      <form action="{{HttpResponse}}" method="post">
        {% csrf_token %}

        {{form.user.label_tag}}
        {{form.user}} <br>

        {{form.title.label_tag}}
        {{form.title}} <br>

        {{form.adress.label_tag}}
        {{form.adress}}<br>

        {{form.act_type.label_tag}}
        {{form.act_type}}<br>

        {{form.text.label_tag}}
        {{form.text}}<br>

        {{form.image.label_tag}}
        {{form.image}}<br>

        <input type="submit" value="Отправить">
      </form>




  {% endblock %}

  </body>

</html>