<!DOCTYPE html>
{% extends "dispatcher/base.html" %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
    {% block content %}


<br>
{% if act_sent %}

<H6>Заявка отправленна</H6>

{% endif %}
<br>


<div class="secondtopnav">
  <a class="active" href="http://127.0.0.1:8000/act/">Создать заявку</a>
 
</div>



    <style>
    #center {
      width: 1700px;
      height: 750px;
      border: 5px solid #333;
      border-top-width: 0px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(173, 252, 166));
    }
    
    .row{
      margin-top: 20px;

    }
  </style>


 
<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Title</th>
      <th>Adress</th>
      <th>Act type</th>
      <th>Date created</th>
      <th>Date updated</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    {% for act in acts %}
    <tr>
      <td>{{act.user}}</td>
      <td>{{act.title}}</td>
      <td>{{act.adress}}</td>
      <td>{{act.act_type}}</td>
      <td>{{act.date_created}}</td>
      <td>{{act.date_updated}}</td>      
      <td>URL</td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>

  
 

  {% endblock %}

  </body>

</html>